%div.my-5{:class => "#{is_show ? 'col-sm-6' : 'col-xs-8 col-sm-3'}"}
  - if !is_show
    .card.ico
      .card-body
        .p-2
          .p-1.wrapper
            = image_tag url_for(@product.photo), class: 'img-fluid'
            - if show_this_if_admin
              .top-right.text-right.d-flex.flex-row.ii
                %div
                  = link_to del_product_path(@product.id), controller: 'admin', action: 'destroy', id: @product.id, method: :delete, remote: true do
                    %i.fa.fa-trash{style: 'color: red;'}
                %div.ml-4.del-product{data: { id: "#{@product.id}" } }
                  = link_to edit_product_path(@product.id) do
                    %i.fa.fa-pencil{style: 'color: black;'}
  - else
    .card.ico
      .card-body
        .p-2
          .p-1.wrapper.wrap
            = image_tag url_for(@product.photo), class: 'img-fluid'
            - if show_this_if_admin
              .top-right.text-right.d-flex.flex-row.ii
                %div
                  = link_to '', controller: 'admin', action: 'destroy', id: @product.id, method: :delete do
                    %i.fa.fa-trash{style: 'color: red;'}
                %div.ml-4.del-product{data: { id: "#{@product.id}" } }
                  = link_to edit_product_path(@product.id) do
                    %i.fa.fa-pencil{style: 'color: black;'}
  .text-center.my-3
    .p-1
      - if is_show
        %h3
          = @product.name
      - else
        = link_to product_path(@product.id) do
          %span
            = @product.name
    .p-1
      %span
        = pluralize(@product.stock, 'stock', 'stocks')
    .p-1
      %span
        = number_to_currency(@product.price, separator: ',')
