= form_for (@product),remote: true  do |f|
  .form-group.row
    = f.label :name,  class: 'col-md-2 col-form-label'
    %br/
    .col-sm-8
      = f.text_field :name, class: 'form-control'
  .form-group.row
    = f.label :stock,  class: 'col-md-2 col-form-label'
    %br/
    .col-sm-2
      = f.number_field :stock, class: 'form-control'
    .my-4
    = f.label :price,  class: 'col-md-1 col-form-label'
    %br/
    .col-sm-2
      = f.number_field :price, class: 'form-control'
  .form-group.row
    = f.label :desc,  class: 'col-md-2 col-form-label'
    %br/
    .col-sm-8
      = f.text_area :desc, class: 'form-control'
  .form-row{style: @product.photo.attached?  ? 'margin-bottom: 27px' : ''}
    = f.label "Photo",  class: 'col-md-2 col-form-label'
    %br/
    .col-md-3.my-auto
      = f.file_field :photo, class: 'form-control-file photo_upload'
    - if @product.photo.attached?
      .col-md-4.my-auto#image_here
        = image_tag @product.photo.variant(resize_to_limit: [40, 40]).processed.service_url
  .d-flex.justify-content-center
    - if request.path != admin_path
      = f.submit "Update", class: 'btn btn-primary col-sm-8 p-2', controller: 'admin', method: :put
    - else
      = f.submit "Submit", class: 'btn btn-primary col-sm-8 p-2'
= javascript_pack_tag "image_preview"
