!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DrinkStore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "layouts/header/navbar"
    %div{style: 'max-height: 100vh'}
      = yield
